
<!-- Integrer le header -->
<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
   <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="/"><img src="assets/images/biblio-logo.png" alt="Bibliothèques UdeM"/></a>
          <a class="navbar-brand brand-logo-mini" href="/"><img src="assets/images/favicon.ico" alt="Bibliothèques UdeM"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
  <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
    <h5 class="mb-0 font-weight-mediu d-none d-lg-flex titre-initial header-udem">{{ 'app-title' | translate}}</h5>
      <h4 class="typing ml-5 mt-3 text-danger font-weight-light mt-2 titre-initial ">
          {{ 'app-title-dev' | translate}}
      </h4>

    <ul class="navbar-nav navbar-nav-right ml-auto">
       <!-- Date -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="javascript:;">
              <i class="bi bi-calendar3"></i>
              <span class="date-text">{{ currentDate | date:'dd MMM yyyy' }}</span>
            </a>
          </li>
      <!--<li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
        <a class="nav-link d-flex align-items-center dropdown-toggle" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span class="profile-text font-weight-normal" >{{ 'lngApp' | translate}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
          <a class="dropdown-item" (click)="switchLanguage('fr')">
             {{ 'lngFr' | translate}} </a>
          <a class="dropdown-item" (click)="switchLanguage('en')">
             {{ 'lngEn' | translate}}</a>
        </div>
      </li>-->
          <li class="nav-item dropdown mr-0">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="bi bi-grid-3x3-gap-fill"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Formulaires</p>
              <a class="dropdown-item preview-item" routerLink="/usager/suggestion-public" target="_blank">
                <div class="preview-thumbnail">
                  <div class="preview-icon preview-icon--suggest">
                    <i class="bi bi-lightbulb mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h5 class="font-weight-normal mt-1">Suggestion d'achat</h5>
                </div>
              </a>
              <a routerLink="/usager/nouvel-achat" target="_blank" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon preview-icon--achat">
                    <i class="bi bi-basket3 mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h5 class="font-weight-normal mt-1">Nouvel achat unique</h5>
                </div>
              </a>
            </div>
          </li>
      <li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
          <a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" id="UserDropdown"  data-toggle="dropdown" aria-expanded="false" href="javascript:;">
            <i class="bi bi-person-fill-check"></i>
            <span class="date-text">{{prenomAdmin}} {{nomAdmin}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown w-100" aria-labelledby="UserDropdown">
          <!--<a  class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"  ></i>{{groupeAdmin}}</a>-->
          <a (click)="logout()" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> {{'login.logout-text' | translate }}</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>