<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <!-- ═══════════════════════════════════════════
       BRAND WRAPPER
  ═══════════════════════════════════════════ -->
  <div class="navbar-brand-wrapper d-flex justify-content-center">
    <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand brand-logo" href="/accueil">
        <img src="assets/images/biblio-logo.png" alt="Bibliothèques UdeM" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="/accueil">
        <img src="assets/images/favicon.ico" alt="logo" />
      </a>
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="bi bi-list"></span>
      </button>
    </div>
  </div>

  <!-- ═══════════════════════════════════════════
       MENU WRAPPER
  ═══════════════════════════════════════════ -->
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

    <!-- LEFT quick links -->
    <ul class="navbar-nav me-auto">
      <li class="nav-item d-none d-xl-flex align-items-center">
        <a class="nav-link nav-quicklink" routerLink="/"  >
          <img src="assets/images/logo-app.png" alt="logo" class="img-logo-app" />
        </a>
      </li>
      <li class="nav-item d-none d-xl-flex align-items-center">
        <a class="nav-link nav-quicklink" routerLink="/usager/suggestion-public" title="Formulaire usager" target="_blank">
          <i class="bi bi-person-lines-fill"></i>
          <span>Formulaire: Suggestion d'achat</span>
        </a>
      </li>
    </ul>

    <div class="top-navbar-right ms-3">
      <ul class="navbar-nav align-items-center">

        <!-- Date -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="javascript:;">
            <i class="bi bi-calendar3"></i>
            <span class="date-text">{{ currentDate | date:'dd MMM yyyy' }}</span>
          </a>
        </li>
        <!-- User Profile -->
        <li class="nav-item" ngbDropdown [autoClose]="'outside'">
          <a class="nav-link d-flex align-items-center gap-2" ngbDropdownToggle>
            <div class="user-setting">
              <i class="bi bi-person-circle"></i>
              <span class="user-name">Système Administrateur</span>
            </div>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end user-profile-dropdown mt-5">
            <li>
            <li><a (click)="logout()" routerLink="/auth/sign-in" class="dropdown-item item-logout"><div class="d-flex align-items-center"><div class="setting-icon"><i class="bi bi-box-arrow-right"></i></div><div class="setting-text ms-3"><span>Déconnexion</span></div></div></a></li>
          </ul>
        </li>

      </ul>
    </div>

    <!-- Mobile toggler -->
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="bi bi-list"></span>
    </button>

  </div>
</nav>