<nav class="sidebar sidebar-offcanvas mt-5" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/accueil">
        <i class="bi bi-house-door menu-icon"></i>
        <span class="menu-title">{{ 'menu.accueil' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/items">
        <i class="bi bi-search menu-icon"></i>
        <span class="menu-title">{{ 'menu.rechercher' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/items/nouveau">
        <i class="bi bi-file-earmark-plus menu-icon"></i>
        <span class="menu-title">{{ 'menu.ajouter' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/rapport">
        <i class="bi bi-bar-chart-line menu-icon"></i>
        <span class="menu-title">{{ 'menu.rapports' | translate }}</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="/processus">
        <i class="bi bi-diagram-3 menu-icon"></i>
        <span class="menu-title">{{ 'menu.processus' | translate }}</span>
      </a>
    </li>
    <!-- Menu Outils avec indicateur -->
    <!--<li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" 
         data-toggle="collapse" href="#outils" 
         aria-expanded="false" aria-controls="outils">
        <div>
          <i class="bi bi-tools menu-icon"></i>
          <span class="menu-title">{{ 'menu.outils' | translate }}</span>
        </div>
        <i class="bi bi-chevron-down toggle-icon ms-2"></i>
      </a>

      <div class="collapse" id="outils">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-fonds">
              {{ 'menu.list-fonds' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-fournisseurs">
              {{ 'menu.list-fournisseur' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </li>-->
  </ul>
</nav>
