<!-- app.component.html -->
<div class="container-scroller">
  
  <ng-container *ngIf="!isUsagerRoute">
    <app-header></app-header>
  </ng-container>

  <div class="container-fluid page-body-wrapper">
    
    <ng-container *ngIf="!isUsagerRoute">
      <app-menu></app-menu>
    </ng-container>

    <div class="main-panel">
      <div class="content-wrapper">
        <app-dialog></app-dialog>
        <router-outlet></router-outlet>
      </div>
      
      <ng-container *ngIf="!isUsagerRoute">
        <app-footer></app-footer>
      </ng-container>

    </div>
  </div>
</div>