<!-- ── Shell USAGER : header/menu/footer absents ── -->
<ng-container *ngIf="isUsagerRoute">
  <router-outlet></router-outlet>
</ng-container>

<!-- ── Shell ADMIN : structure complète ── -->
<ng-container *ngIf="!isUsagerRoute">
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-menu></app-menu>
      <div class="main-panel">
        <div class="content-wrapper">
          <app-dialog></app-dialog>
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</ng-container>